




<!-- # <%= form_for @user,:url => {:action => :update} do |f| %>


#   <div class="field">
#     <%= f.label :email %><br />
#     <%= f.email_field :email, autofocus: true %>
#   </div>

#   <div class="field">
#     <%= f.label :name %><br />
#     <%= f.text_field :name, autofocus: true %>
#   </div>

#   <div class="actions">
#     <%= f.submit "Update" %>
#   </div>
# <% end %>

# <h3>Cancel my account</h3>



# <%= link_to "Back", :back %>
 -->
